extends base

block content 
    main.main
    .login-form
        h2.heading-secondary Sign Up for an account
        form.form
            .form__group
                label.form__label(for='first_name') First Name 
                input#firstName.form__input(type='text', placeholder='First name', required)
            .form__group
                label.form__label(for='last_name') Last Name
                input#lastName.form__input(type='text', placeholder='Last name', required)
            .form__group
                label.form__label(for='username') Username
                input#username.form__input(type='text', placeholder='Username')
            .form__group
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)
            .form__group.ma-bt-md
                label.form__label(for='password') Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-md
                label.form__label(for='ConfirmPassword') Confirm Password
                input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                button.btn.btn--green Sign Up 